### 4.1.3 DataFrame
- 结构：既有行索引，又有列索引的二维数组

In [2]:
import numpy as np
# 创建一个符合正态分布的10个股票5天的涨跌幅数据
stock_change = np.random.normal(0,1,(10,5))

In [3]:
stock_change

array([[ 0.55995243,  0.94440943,  0.0814967 ,  0.65263494, -0.59975896],
       [ 0.74048192, -0.27181268, -0.88161104, -0.19002656,  0.01409395],
       [-0.84057293, -0.05007498,  1.10662198, -1.06306579, -0.79855213],
       [-1.44500685, -0.20398769, -0.06168157,  0.21146065,  0.51153884],
       [ 1.34836632,  1.77197793, -2.02490799,  0.57531194, -0.37674935],
       [-0.79670227, -0.0215071 ,  2.06635353,  0.88062991, -0.05759825],
       [ 0.07819541,  0.76049936, -0.65170343, -1.17939283,  0.80694499],
       [ 1.6597005 ,  1.06401396, -1.03841892,  0.31136643, -0.10831701],
       [-0.262272  , -0.36428804,  0.02359461, -0.71267407,  1.9314129 ],
       [-0.7225207 ,  0.26847676,  0.86482189,  0.08476562, -0.15739226]])

In [4]:
import pandas as pd

In [5]:
pd.DataFrame(stock_change)

          0         1         2         3         4
0  0.559952  0.944409  0.081497  0.652635 -0.599759
1  0.740482 -0.271813 -0.881611 -0.190027  0.014094
2 -0.840573 -0.050075  1.106622 -1.063066 -0.798552
3 -1.445007 -0.203988 -0.061682  0.211461  0.511539
4  1.348366  1.771978 -2.024908  0.575312 -0.376749
5 -0.796702 -0.021507  2.066354  0.880630 -0.057598
6  0.078195  0.760499 -0.651703 -1.179393  0.806945
7  1.659701  1.064014 -1.038419  0.311366 -0.108317
8 -0.262272 -0.364288  0.023595 -0.712674  1.931413
9 -0.722521  0.268477  0.864822  0.084766 -0.157392

In [9]:
# 行索引为股票支数，列索引为日期

In [10]:
# 添加行索引
stock=['股票{}'.format(i) for i in range(10)]

In [20]:
pd.DataFrame(stock_change,index=stock)

            0         1         2         3         4
股票0  0.559952  0.944409  0.081497  0.652635 -0.599759
股票1  0.740482 -0.271813 -0.881611 -0.190027  0.014094
股票2 -0.840573 -0.050075  1.106622 -1.063066 -0.798552
股票3 -1.445007 -0.203988 -0.061682  0.211461  0.511539
股票4  1.348366  1.771978 -2.024908  0.575312 -0.376749
股票5 -0.796702 -0.021507  2.066354  0.880630 -0.057598
股票6  0.078195  0.760499 -0.651703 -1.179393  0.806945
股票7  1.659701  1.064014 -1.038419  0.311366 -0.108317
股票8 -0.262272 -0.364288  0.023595 -0.712674  1.931413
股票9 -0.722521  0.268477  0.864822  0.084766 -0.157392

In [17]:
# 添加列索引
date=pd.date_range(start="20200101",periods=5,freq="B")  #periods周期，freq频率

In [18]:
date

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07'],
              dtype='datetime64[ns]', freq='B')

In [25]:
data=pd.DataFrame(stock_change,index=stock,columns=date)

### DataFrame的属性
- 属性：
    - shape
    - index：行索引
    - columns：列索引
    - values：不要行索引和列索引，只有数据的数组（ndarray）
    - T：转置\
- 方法：
    - head()：取前几行
    - tail()：取后几行

In [26]:
data # shape (10,5)

     2020-01-01  2020-01-02  2020-01-03  2020-01-06  2020-01-07
股票0    0.559952    0.944409    0.081497    0.652635   -0.599759
股票1    0.740482   -0.271813   -0.881611   -0.190027    0.014094
股票2   -0.840573   -0.050075    1.106622   -1.063066   -0.798552
股票3   -1.445007   -0.203988   -0.061682    0.211461    0.511539
股票4    1.348366    1.771978   -2.024908    0.575312   -0.376749
股票5   -0.796702   -0.021507    2.066354    0.880630   -0.057598
股票6    0.078195    0.760499   -0.651703   -1.179393    0.806945
股票7    1.659701    1.064014   -1.038419    0.311366   -0.108317
股票8   -0.262272   -0.364288    0.023595   -0.712674    1.931413
股票9   -0.722521    0.268477    0.864822    0.084766   -0.157392

In [28]:
data.shape

(10, 5)

In [29]:
data.index

Index(['股票0', '股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9'], dtype='object')

In [30]:
data.columns

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07'],
              dtype='datetime64[ns]', freq='B')

In [31]:
data.values

array([[ 0.55995243,  0.94440943,  0.0814967 ,  0.65263494, -0.59975896],
       [ 0.74048192, -0.27181268, -0.88161104, -0.19002656,  0.01409395],
       [-0.84057293, -0.05007498,  1.10662198, -1.06306579, -0.79855213],
       [-1.44500685, -0.20398769, -0.06168157,  0.21146065,  0.51153884],
       [ 1.34836632,  1.77197793, -2.02490799,  0.57531194, -0.37674935],
       [-0.79670227, -0.0215071 ,  2.06635353,  0.88062991, -0.05759825],
       [ 0.07819541,  0.76049936, -0.65170343, -1.17939283,  0.80694499],
       [ 1.6597005 ,  1.06401396, -1.03841892,  0.31136643, -0.10831701],
       [-0.262272  , -0.36428804,  0.02359461, -0.71267407,  1.9314129 ],
       [-0.7225207 ,  0.26847676,  0.86482189,  0.08476562, -0.15739226]])

In [32]:
data.T

,股票0,股票1,股票2,股票3,股票4,股票5,股票6,股票7,股票8,股票9
2020-01-01,0.559952,0.740482,-0.840573,-1.445007,1.348366,-0.796702,0.078195,1.659701,-0.262272,-0.722521
2020-01-02,0.944409,-0.271813,-0.050075,-0.203988,1.771978,-0.021507,0.760499,1.064014,-0.364288,0.268477
2020-01-03,0.081497,-0.881611,1.106622,-0.061682,-2.024908,2.066354,-0.651703,-1.038419,0.023595,0.864822
2020-01-06,0.652635,-0.190027,-1.063066,0.211461,0.575312,0.880630,-1.179393,0.311366,-0.712674,0.084766
2020-01-07,-0.599759,0.014094,-0.798552,0.511539,-0.376749,-0.057598,0.806945,-0.108317,1.931413,-0.157392

In [34]:
data.head(3)

     2020-01-01  2020-01-02  2020-01-03  2020-01-06  2020-01-07
股票0    0.559952    0.944409    0.081497    0.652635   -0.599759
股票1    0.740482   -0.271813   -0.881611   -0.190027    0.014094
股票2   -0.840573   -0.050075    1.106622   -1.063066   -0.798552

In [35]:
data.tail(3)

     2020-01-01  2020-01-02  2020-01-03  2020-01-06  2020-01-07
股票7    1.659701    1.064014   -1.038419    0.311366   -0.108317
股票8   -0.262272   -0.364288    0.023595   -0.712674    1.931413
股票9   -0.722521    0.268477    0.864822    0.084766   -0.157392

### DataFrame索引的设置

In [37]:
# 修改行索引值
data.head()

     2020-01-01  2020-01-02  2020-01-03  2020-01-06  2020-01-07
股票0    0.559952    0.944409    0.081497    0.652635   -0.599759
股票1    0.740482   -0.271813   -0.881611   -0.190027    0.014094
股票2   -0.840573   -0.050075    1.106622   -1.063066   -0.798552
股票3   -1.445007   -0.203988   -0.061682    0.211461    0.511539
股票4    1.348366    1.771978   -2.024908    0.575312   -0.376749

In [39]:
# 把股票2改为股票88
data.index  #股票2在索引2的位置

Index(['股票0', '股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9'], dtype='object')

In [43]:
# data.index[2]='股票88' #不能单独修改索引

In [1]:
# 把股票0、1.....统一改成股票_0、1.....
# stock_=['股票_{}'.format(i) i in range(10)]
stock.rename(index={'股票88','股票02'},inplace=True)

NameError: name 'stock' is not defined